PyCharmPOAProject/.idea/dataSources.ids
PyCharmPOAProject/.idea/dataSources.xml
PyCharmPOAProject/.idea/dataSources.local.xml
PyCharmPOAProject/.idea/workspace.xml
PyCharmPOAProject/.idea/workspace.xml
PyCharmPOAProject/.idea/workspace.xml

POA_Website/.idea/workspace.xml

POA_Website/.idea/dataSources.local.xml

*.pyc

*.iml

*.xml

POA_Website/.idea/misc.xml

POA_Website/.idea/dataSources/d18cddc5-96fb-42dd-9454-388977f6ec22/_metadata_/metadata

POA_Website/.idea/dataSources/d18cddc5-96fb-42dd-9454-388977f6ec22/_metadata_/metadata_i

POA_Website/.idea/dataSources/d18cddc5-96fb-42dd-9454-388977f6ec22/_metadata_/metadata_i.len

POA_Website/.idea/dataSources/d18cddc5-96fb-42dd-9454-388977f6ec22/_metadata_/metadata.keystream

*.len

*.at
