PyCharmPOAProject/.idea/dataSources.ids
PyCharmPOAProject/.idea/dataSources.xml
PyCharmPOAProject/.idea/dataSources.local.xml
PyCharmPOAProject/.idea/workspace.xml
PyCharmPOAProject/.idea/workspace.xml
PyCharmPOAProject/.idea/workspace.xml

POA_Website/.idea/workspace.xml

POA_Website/.idea/dataSources.local.xml

*.pyc

*.iml

*.xml

POA_Website/.idea/misc.xml

.idea/
*.pyc
