<!DOCTYPE html>
<html lang="en">
<head>
    <title>thenewboston</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">

        <h1>3 column layout</h1>
        <div class="row">
            <div class="col-md-4" style="background-color: #FF9999">
            <p>10 dam days Its all the flows and shows</p>
            <p>shout out to carter G willson</p>



            </div>
            <div class="col-md-4" style="background-color: #99CCFF">Middle</div>
            <div class="col-md-4" style="background-color: #00CC99">Right</div>
        </div>

    </div>

</body>
</html>



    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Logo -->
        <div class="navbar-header">
        <a href="http://flask-env.wyjv7eupw2.us-west-2.elasticbeanstalk.com" class="navbar-brand">Alasdair Johnson</a>
        </div>
        
        <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    

                    <!-- drop down menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Robotics</a></li>
                            <li><a href="#">Full Stack Development</a></li>
                            <li><a href="#">Hackathon Projects</a></li>
                        </ul>
                    </li> 
                <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>



                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>My Stuff</th>
                        <th>Numbers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Barritos Eaten</td>
                        <td> 1,242</td>
                    </tr>
                    <tr>
                        <td>Penciles Lost</td>
                        <td>241</td>
                    </tr>
                    <tr>
                        <td>Dynos Attempted</td>
                        <td>563</td>
                    </tr>
                    <tr>
                        <td>Laughed at own Jokes</td>
                        <td>432,321</td>
                    </tr>
                    <tr>
                        <td>Puns Made</td>
                        <td>To Many</td>
                    </tr>
                    <tr>
                        <td>Days Spent in the Backcountry</td>
                        <td>231</td>
                    </tr>
                    <tr>
                        <td>Air Planes Flown</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>