<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pass the Info Dude...</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>  
    
<!--   
    <form method="POST" action="/form">
        
        <table>
            <tr><td>Text</td><td><input type="text" name='message'/></td></tr>
            <tr><td>Shifting Key<input type="number" name="key"</td></tr>
        </table>
        
        <input type="submit" value="Encipher"/>
 -->       
        
    
    
    </form>
    <form class="form-inline" method="POST" action="/form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Message</label>
    <input type="text" class="form-control" name='message' placeholder="Message">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Key</label>
    <input type="number" class="form-control" name='key' placeholder="Key">
  </div>
  <div class="checkbox">
  </div>
  <button type="submit" class="btn btn-default">Encipher</button>
</form>
    <h3 class="bg-success">{{encodedMessage}}</h3>
    
</body>
</html>
