<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/gameCanvas.css">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<canvas id="myCanvas" width="480" height="320"></canvas>
<script src="../static/JavaScript/gameCanvas.js">

</script>
<script>
{%for i in testchange %}
var change = '{{i}}';
{% endfor %}
ctx.beginPath();
ctx.arc(442, change, 28, 0, Math.PI * 2, false);
ctx.fillStyle = "red";
ctx.fill();
ctx.closePath();  
</script>
<!--
    
    <button type="submit" formmethod="POST" action>Hi</button>  
-->
<form method="POST" action="/connect4">
    <input type="submit" value="Play Game"/>
</form>      
</body>
</html>