<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pass the Info Dude...</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{#    <style src = "POACreateTripCSS.css"></style>#}
</head>
<body>
<h3> Make Trip</h3>
<form  action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <div class="form-group">
        <label >Trip Name</label>
         <input type="text" class="form-control" name='TripName'>
     </div>
    <div class="form-group">
        <label >Name</label>
         <input type="text" class="form-control" name='LeaderName'  placeholder="Your Name">
     </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Car Capacity</label>
        <input type="text" class="form-control"  placeholder="Car Capacity If No Car Put 0" name = "CarCap">
     </div>
    <div class="form-group">
        <label for="exampleTextarea">Trip Description</label>
        <textarea class="form-control" id="exampleTextarea"rows="3" name="TripDescription"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" value="Share">Submit</button>
</form>
<h3> Add to Trip</h3>'
    <div class="form-group" >
    <label class="sr-only" for="exampleInputEmail3"></label>
    <input type="text" class="form-control" name='Person_Name' placeholder="Name">
  </div>
<form id = "Person">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
   <div class="form-group" >
       <label class="sr-only" for="exampleInputEmail3"></label>
    <input type="text" class="form-control" name='Person_Name' placeholder="Phone Number">
           <small id="emailHelp" class="form-text text-muted">We'll never share your Phone with anyone else.</small>
  </div> 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h3> Trip List</h3>
    <div class="row">
        <div class="panel panel-primary filterable">
            <table class="table">
                <thead>
                    <tr>
                        <th>Trip Name</th>
                        <th>Trip Capacity</th>
                        <th>Trip Info</th>
                        <th>Particpants</th>
                    </tr>
                </thead>
                <tbody class="entries">
                {% for TableRow in entries %}
                <tr>
                    <td> {{ TableRow.Trip_Name }}</td>
                    <td> {{ TableRow.Trip_Capacity }}</td>
                    <td> {{ TableRow.Trip_Info }}</td>
                    <td> {{ TableRow.Trip_Participants }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>