<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add varible for trip name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<h2> {{ info.Trip_Name }}</h2>
<ul>
    <li>{{ info.Trip_Capacity }} </li>
    <li> {{ info.Trip_Info }}</li>
    <li> {{ info.Trip_Participants }}</li>
</ul>
</body>
</html>