{% extends "Base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{#    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">#}
{#    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>#}
    <script src="/static/commandCenterTrips.js"></script>
    <script src="/static/commandCenterUsers.js"></script>
{% endblock %}

{% block body %}
<div class="modal fade message-popup" id="generalizedModal" tabindex="-1" role="dialog" aria-labelledby="user1Message">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="message-model-content">
            {# code gets inserted here #}
        </div>
    </div>
</div>
<table id="userTable">
    <thead>
        <th>
            Username
        </th>
{#        <th>#}
{#            Hi there#}
{#        </th>#}
    </thead>
    <tbody>
{#        #}
    </tbody>
</table>
<table id="tripsTable">
    <thead>
        <th>
            Trip
        </th>
    </thead>
    <tbody>
{#        #}
    </tbody>
</table>
{% endblock %}