<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pitzer Outdoor Adventures</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{#    <style src = "POACreateTripCSS.css"></style>#}
</head>
<body>
<div class="container">
    <div class="row">
        <h3> Trip List
            <div class='pull-right'>
                {% if 'credentials' in session %}
                    <a class="btn btn-primary" href={{url_for('main.profile')}} role="button">
                    Account Info
                    </a>
                {% else %}
                    <a class="btn btn-primary" href={{url_for('main.login')}} role="button">
                    Login
                    </a>
                {% endif %}
            </div>
        </h3>
    </div>

    <div class="row">
        <div class="panel panel-primary filterable">
            <table class="table">
                <thead>
                    <tr>
                        <th>Trip Name</th>
                        <th>Details</th>
                        <th>Departure Date</th>
                        <th>Return Date</th>
                        <th>Participants</th>
                        <th>Participant Cap</th>
                        <th>Cars</th> {#  anyone have a better name #}
                        <th>Car Cap</th>
                        <th>Trip Location</th>
                    </tr>
                </thead>
                <tbody class="entries">
                {% for TableRow in entries %}
                <tr>
                    <td > <a href={{ url_for('main.tripPage', TripKey = TableRow.id)}}>{{ TableRow.Trip_Name}}</a></td>
                    <td> {{ TableRow.Details_Short }}</td>
                    <td> {{ TableRow.Departure_Date }}</td>
                    <td> {{ TableRow.Return_Date }}</td>
                    <td> {{ TableRow.Participant_Num }}</td>
                    <td> {{ TableRow.Participant_Cap}}</td>
{#                    <td>Why would it work?</td>#}
                    <td> {{ TableRow.Car_Num}}</td>
                    <td> {{ TableRow.Car_Cap}}</td>
                    <td> {{ TableRow.Trip_Location}}</td>
                </tr>
                {% else %}
                    <li><em>Unbelievable.  No entries here so far</em></li>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn" href= {{ url_for('main.addTrip') }} >Add Trip</a>
        </div>
    </div>
</div>
</body>
</html>