<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Pitzer Outdoor Adventures</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.7.2/parsley.min.js"></script>
    <script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <link href="static/homePage.css" rel="stylesheet">
      <!-- jQuery first, then Tether, then Bootstrap JS. -->
   <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
     <script>
    $(document).ready(function ()
    {
        $("#addTrip").click(function ()
        {
            console.log("clicked");
            $.get('/api/addTrip').done(function (data)
            {
                console.log(data);
                $('#message-model-content').html(data);
                $("#generalizedModal").modal("show");
            });
        })
        $("#notLoggedIn").click(function ()
        {
            console.log("clicked");
            $.get('/api/popUpMessage/' + 'Not Logged In' + "/" + "You must be logged in to add a new trip.")
            .done(function (data)
            {
                console.log(data);
                $('#message-model-content').html(data);
                $("#generalizedModal").modal("show");
            });
        })
    });
    </script>
  </head>
  <body>
  <div class="modal fade message-popup" id="generalizedModal" tabindex="-1" role="dialog" aria-labelledby="user1Message">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="message-model-content">
{#             code gets inserted here #}
        </div>
    </div>
</div>




<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Pitzer Outdoor Adventure</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trips</a>
      </li>
    </ul>
    {% if 'credentials' in session %}
        <a class="btn btn-primary" href={{url_for('main.profile')}} role="button">
        Account Info
        </a>
        {% else %}
        <a class="btn btn-primary" href={{url_for('main.login')}} role="button">
        Login
        </a>
        {% endif %}
  </div>
</nav>

<div class="img-wrapper">
    <img class="img-fluid" src="static/Car.jpg">
    <div class="img-overlay">
      <div class="container">
            <div class="row">
                <div class="slide-text slide_style_left">
                    <h1 data-animation="animated zoomInRight">Pitzer Outdoor Adventures</h1>
                    <p data-animation="animated fadeInLeft">The mountains are calling and I must go</p>
                    {% if 'credentials' in session %}
                        <a href="#" class="btn btn-primary" id="addTrip" data-animation="animated fadeInRight">Lead a trip...</a>
                    {% else %}
                    <a href="#" class="btn btn-primary" id="notLoggedIn" data-animation="animated fadeInRight">Lead a trip...</a>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>So what is Pitzer Outdoor Adventures?</h2>
        <p>
            We are a organization dedicated to providing a safe inclusive space for
            students of all backgrounds and identities to gain access to the outdoors.
        </p>
        <p>
            Bellow you will see a list of the trips that are going out in the future
        </p>
    </div>
    {% for Row in entries %}
    <div class="row">
        <div class="card-deck">
        {% for card in Row %}
        <div class="card">
            <div class="card-block">
              <h4 class="card-title"><a href={{ url_for('main.tripPage', TripKey = card.id)}}>{{ card.Trip_Name}}</a></h4>
              <p class="card-text"> Details: {{ card.Details_Short  }}</p>
              <p class="card-text">Departure Date: {{  card.Return_Date }}</p>
              <p class="card-text"><small class="text-muted">Number of spaces left: {{  card.Participant_Cap - card.Participant_Num }}</small></p>
            </div>
      </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
      </body>
</html>
