{% extends "Base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/FormatTrip.css">
    <script>
        $(document).ready(function ()
        {
{#            {% if autoModal != "#" %}#}
{#                {% if autoModal == "editParticipant" %}#}
{#                    $.get('/api/editParticipant/' + {{ TripMeta.id }})#}
{#                    .done(function(data)#}
{#                    {#}
{#                        console.log(data);#}
{#                        $('#message-model-content').html(data);#}
{#                        $("#generalizedModal").modal("show");#}
{#                    });#}
{#                {% endif %}#}
{#            {% endif %}#}
            $("#addParticipant").click(function ()
            {
                console.log("clicked");
                $.get('/api/addParticipant/' + {{ TripMeta.id }})
                .done(function(data)
                {
                    console.log(data);
                    $('#message-model-content').html(data);
                    $("#generalizedModal").modal("show");
                });
            });
            $("#cannotLeave").click(function ()
            {
                console.log("clicked");
                $.get('/api/cannotLeave')
                .done(function(data)
                {
                    console.log(data);
                    $('#message-model-content').html(data);
                    $("#generalizedModal").modal("show");
                });
            });
            $("#editParticipant").click(function ()
            {
                console.log("clicked");
                $.get('/api/editParticipant/' + {{ TripMeta.id }})
                .done(function(data)
                {
                    console.log(data);
                    $('#message-model-content').html(data);
                    $("#generalizedModal").modal("show");
                    /* Use this for hiding the modal via code --> $("#generalizedModal").modal("hide");*/
                });
            });
{#            $('#submit').click(function(event)#}
{#            {#}
{#                event.preventDefault();#}
{#                $("#generalizedModal").modal("hide");#}
{#                $.post('/api/editParticipant/' + {{ TripMeta.id }})#}
{#                .done(function(data)#}
{#                {#}
{#                    console.log(data);#}
{#                    $('#message-model-content').html(data);#}
{#                    $("#generalizedModal").modal("show");#}
{#                });#}
{#            });#}
            $(".meterbar > span").each(function ()
            {
				$(this)
					.data("origWidth", $(this).width())
					.width(0)
					.animate({
						width: $(this).data("origWidth")
					}, 1200); /* <-- Duration of the animation */
			});
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <style>
        .trip-sidebar
        {
            /*height: 30px;*/  /* Can be anything. */
            /*width: 120px;*/ /* Can also be anything, but will likely be overridden */
            position: relative;
            /* vvv From left to right. */
            {% if TripMeta.Participant_Num <= TripMeta.Participant_Cap %}
                background: linear-gradient(90deg, rgb(143,224,255) 100%, rgb(245,250,255) 100%);
            {% else %}
                background: linear-gradient(90deg, rgb(255,140,130) 100%, rgb(255,255,255) 100%);
            {% endif %}
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding: 10px 40px;
            box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        }
    </style>
{%  endblock %}

{% block body %}
<div class="container">
<div clas="row">
<br>
 <h2 align="center">{{ TripMeta.Trip_Name }}</h2>
    <div class="row align-items-start">

    {# Do between 40 and 130 pixels (or something) for the bar, use some math and sigmoid functions! #}
    <div class="col">
        <h4>Trip Overview</h4>
        This trip departs on {{ TripMeta.Departure_Date.month }}-{{ TripMeta.Departure_Date.day }}-{{ TripMeta.Departure_Date.year }} and returns on {{ TripMeta.Return_Date.month }}-{{ TripMeta.Return_Date.day }}-{{ TripMeta.Return_Date.year }}. Participants will meet at {{ Tripinfo.Trip_Meeting_Place}}.
        <ul></ul>
        Details:
        <ul><li>{{ Tripinfo.Details}}</li></ul>
        {% if Tripinfo.Substance_Free==1 %}
            This trip is substance free.
        {% else %}
            This trip is not substance free.
        {% endif %}
    </div>
    <div class="col">
        <h4>Coordinator Info</h4>
        Name: {{ Coordinator.Participant }}
        <ul></ul>
        Email: {{ Coordinator.Email }}
        <ul></ul>
        Phone #: {{ Coordinator.Phone }}
        <ul></ul>
        <br>
        Gear List
        <ul><li>{{ Tripinfo.Gear_List }}</li></ul>
        Total Cost
        <ul><li>{{ Tripinfo.Total_Cost}}</li></ul>
        Cost Breakdown
        <ul><li>{{ Tripinfo.Cost_BreakDown}}</li></ul>
    </div>
    <div class="col">
        <div class="panel panel-info">
            <div class="trip-sidebar">
                <h4 align="center">Trip Capacity</h4>
                Participants
                <div class="meterbar people" style="{{ "width: " + "160" + "px;" }}" data-toggle="tooltip" data-original-title={{ TripMeta.Participant_Num }}/{{ TripMeta.Participant_Cap }} data-placement="left">
                    <span style="{{ "width: " + participantRatio + "%;" }}"></span>
                </div>
                <br>
                Number of Cars
                <div class="meterbar cars" style="{{ "width: " + "160" + "px;" }}" data-toggle="tooltip" data-original-title={{ TripMeta.Car_Num }}/{{ TripMeta.Car_Cap }} data-placement="left">
                    <span style="   {{ "width: " + carRatio + "%;" }}"></span>
                </div>
                <br>
                <h3 align="center">
                    {% if userID=='' %}
                        Log in to join this trip
                    {% elif onTrip %}
                        <a id="editParticipant" data-original-title="Edit your information" data-toggle="tooltip" role="button" class="btn btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: white"></i></a>
                        {% if youAreCoordinator %}
                            <a id="cannotLeave" data-original-title="Leave this trip" data-toggle="tooltip" role="button" class="btn btn btn-danger"><i class="fa fa-times" aria-hidden="true" style="color: white"></i></a>
                            {# Make a button that displays a modal, saying that the coordinator cannot leave the trip and must first pass on his/her duties. #}
                        {% else %}
                            <a href={{ url_for('api.removeParticipant', personID=userID, tripID=Tripinfo.Master_Key) }} data-original-title="Leave this trip" data-toggle="tooltip" role="button" class="btn btn-lg btn-danger"><i class="fa fa-times" aria-hidden="true" style="color: white"></i></a>
                    {% if tripInfo.Frozen %}
                        <a data-toggle="tooltip" data-original-title="TODO, INSERT TIME UNTIL TRIP ENDS HERE" data-placement="bottom">Trip is frozen</a>
                    {% else %}
                        {% if userID=='' %}
                            Log in to join this trip
                        {% elif onTrip %}
                            <a id="editParticipant" data-original-title="Edit your information" data-toggle="tooltip" type="button" class="btn btn-lg btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            {% if youAreCoordinator %}
                                <a id="cannotLeave" data-original-title="Leave this trip" data-toggle="tooltip" type="button" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                {# Make a button that displays a modal, saying that the coordinator cannot leave the trip and must first pass on his/her duties. #}
                            {% else %}
                                <a href={{ url_for('api.removeParticipant', personID=userID, tripID=Tripinfo.Master_Key) }} data-original-title="Leave this trip" data-toggle="tooltip" type="button" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            {% endif %}
                        {% else %}
                            <a type="button" class="btn btn-success" id="addParticipant">Join Trip</a>
                        {% endif %}
                    {% endif %}
                </h3>
                <br>
            </div>
        </div>
    </div>
    </div>
</div>
    <h3>Participants</h3>
<div class="row">

        <div class="panel panel-primary filterable">
            <table class="table">
                <thead>
                    <tr>
                        <th width="375px">Name</th>
                        <th width="150px">Driver</th>
                        <th width="110px">Car Capacity</th>
                        <th width="240px" style="padding-right: 0px; text-align: right;">
                            {% if onTrip %}
                            Options
                            {% endif %}
                        </th>
                        <th style="padding-left: 0px; text-align: left;"></th>
                    </tr>
                </thead>
                {% for TableRow in ParticipantInfo %}
                <tr>
                    <td height="40px"> {{ TableRow.Participant }}</td>
                    {% if TableRow.Driver=='True' or TableRow.Driver == 1 or TableRow == '1'%}
                    <td>Yes</td>
                    <td>{{ TableRow.Car_Capacity }}</td>
                    {% else %}
                    <td>No</td>
                    <td>N/A</td>
                    {% endif %}
                    {% if onTrip %}
{#                         https://css-tricks.com/snippets/svg/shape-morphing-icons-button-click/#}
{#                         ^^^ Use this to make these new stretchy buttons presentable.#}
                        <td style="padding-right: 2px;">
                            <div style="float: right;" class="extender extender160"><a href={{ "mailto:" + TableRow.Email }} role="button" class="btn btn-sm btn-primary extender extender160"><span class="centertoleft"><i class="fa fa-envelope-o" aria-hidden="true"></i></span><span class="righttocenter">Email this trip member</span></a></div>
                            <p style="margin-top: 34px; margin-bottom: 0px;"></p>
                            <div style="float: right;" class="extender extender200"><a role="button" class="btn btn-sm btn-default extender extender200"><span class="centertoleft"><i class="fa fa-list" aria-hidden="true"></i></span><span class="righttocenter">View allergies and diet restrictions</span></a></div>
                        </td>
{#                             Only allow the following if they've consented, if you're the coordinator, and they're not you.#}
{#                             Make this button redirect you to a modal, with an "are you sure?" that appears before you actually throw away your coordinator status.#}
                        <td style="padding-left: 2px;">
                            {% if youAreCoordinator and TableRow.OpenLeader and userID != TableRow.accountID %}
{#                                 Make the tooltips go left if the button is on the left, and right if the button is on the right. Never cover up other buttons with a tooltip.#}
                            {% if youAreCoordinator and TableRow.OpenLeader and userID != TableRow.accountID and tripInfo.Frozen == False %}
                                {# Make the tooltips go left if the button is on the left, and right if the button is on the right. Never cover up other buttons with a tooltip. #}
                                <div style="float: left;" class="extender extender180"><a href={{ url_for('api.swapCoordinators', oldLeaderID=userID, newLeaderID=TableRow.accountID, tripID=Tripinfo.Master_Key) }} type="button" class="btn btn-sm btn-success extender extender180"><span class="centertoright"><i class="glyphicon glyphicon-king"></i></span><span class="lefttocenter">Designate as new coordinator</span></a></div>
                            {% else %}
                                <div style="float: left;"><a class="btn btn-sm btn-success disabled"><i class="fa fa-star-o" aria-hidden="true"></i></a></div>
                            {% endif %}
                            <p style="margin-top: 34px; margin-bottom: 0px;"></p>
                            {% if userID != TableRow.accountID %}
                                <div style="float: left;" class="extender extender100"><a role="button" class="btn btn-sm btn-info extender extender100"><span class="centertoright"><i class="fa fa-address-book-o" aria-hidden="true"></i></i></span><span class="lefttocenter">Send message</span></a></div>
                            {% else %}
                                <a class="btn btn-sm btn-info disabled"><i class="fa fa-address-book-o" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    {% else %}
                        <td style="padding-right: 2px; float: right;"></td>
                        <td style="padding-left: 2px; float: left;"></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
